body {
    background-color: #f4f7f6;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 700px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

textarea {
    resize: none;
}

.form-group label {
    font-weight: bold;
}

#loading {
    text-align: center;
    font-style: italic;
}

.slider-container {
    margin-top: 10px;
}

.slider-container label {
    display: flex;
    justify-content: space-between;
}

#history {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.history-item button {
    margin-left: 10px;
}

.history-item span {
    flex-grow: 1;
    margin-right: 20px;
}
