body {
    background: linear-gradient(120deg, #e0f7fa 0%, #ffffff 100%);
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container-fluid {
    padding: 20px;
    flex-grow: 1;
}

.card {
    background: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;  /* 使卡片占满高度 */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
    background: linear-gradient(to right, #42a5f5, #478ed1);
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}

textarea {
    resize: none;
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s, box-shadow 0.3s;
}

textarea:focus {
    border-color: #80bdff;
    box-shadow: 0 0 8px rgba(128, 189, 255, 0.6);
}

label {
    font-weight: bold;
}

#loading {
    text-align: center;
    font-style: italic;
}

.slider-container {
    margin-top: 10px;
}

#history-container {
    height: 100%;  /* 使历史记录容器与卡片高度对齐 */
    padding: 10px;
}

.overflow-auto {
    max-height: calc(100% - 70px); /* 滚动区域最大高度与卡片对齐 */
    overflow-y: auto;
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f8f9fa;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.history-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.history-item button {
    margin-left: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.history-item button:hover {
    background-color: #0056b3;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.history-item span {
    flex-grow: 1;
    margin-right: 20px;
}

#generateButton, #previewButton {
    position: relative;
    transition: background-color 0.3s;
}

#generateButton:disabled, #previewButton:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

footer {
    padding: 15px 20px;
    background: linear-gradient(to right, #42a5f5, #478ed1);
    color: white;
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container-fluid {
        padding: 10px;
    }

    .card {
        margin-bottom: 20px;
    }
}
